
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-bottom: 8rem;
}

.sidebar {
    z-index: 5;
    box-shadow: 0 2px 5px 2px;
    background-image: linear-gradient(180deg, #007687 0%, #0e2529 70%);
}

.top-row {
    position: relative;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

 .form {
     position: relative;
 }

.search-input {
    border-radius: 10px;
    border: 1px solid #0076878e;
    width: 180px;
    padding: 3.5px;
}

.search-icon {
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 0 9.5px 9.5px 0;
    border: none;
    background-color: #0076878e;
}

    .search-icon:hover {
        background-color: #007687d6;
    }

.btn-icon {
    color: #007687;
    font-size: 28px;
    padding: 3px;
}

.btn-icon:hover, .empty-heart:hover, .fill-heart:hover {
    color: #004f5bff;
}

.empty-heart, .fill-heart {
    width: 28px;
    height: 28px;
    color: #007687;
    padding-bottom: 4px;
}

.cart-count {
    font-size: 18px;
    padding: 0 3px 5px 3px;
    text-align: center;
}

.no-match {
    background-color: #ffe566bf;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    color: #007687; 
    border-top: 1px solid #d6d5d5;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    z-index: 0;
    font-weight: bold;
}

    footer p span {
        color: #013d48;
    }

.searching {
    position: absolute;
    top: 16rem;
    font-size: 18px;
    z-index: 2;
    animation: textanim 2s ease-in-out infinite;
}

@keyframes textanim {
    0% {
        color: black;
    }

    50% {
        color: #066f7e;
    }

    100% {
        color: black;
    }
}

.svg-container {
    margin-top: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-container svg {
    position: relative;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.svg-container svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: #01454fff;
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: animate 4s linear infinite;
}

    @keyframes animate {
        0%, 100% {
            stroke-dashoffset: 440;
            stroke: #01454fff;
        }
        50% {
            stroke-dashoffset: 0;
            stroke: #068da0;
        }

        50.1% {
            stroke-dashoffset: 880;
        }
    }

    @media (min-width: 641px) {
        .page {
            flex-direction: row;
            min-height: none;
        }

        .sidebar {
            width: 250px;
            height: 100vh;
            position: sticky;
            top: 0;
        }

        .top-row {
            position: sticky;
            top: 0;
            z-index: 1;
        }

            .top-row.auth ::deep a:first-child {
                flex: 1;
                text-align: right;
                width: 0;
            }

        .top-row, article {
            padding-left: 2rem !important;
            padding-right: 1.5rem !important;
        }

        footer {
            left: 250px;
        }

        .searching {
            position: absolute;
            top: 12.5rem;
            font-size: 18px;
            z-index: 2;
            animation: textanim 2s ease-in-out infinite;
        }

    }

    @media (min-width: 800px) {
        .search-input {
            width: 250px;
        }
    }