@page "/aboutus"

<PageTitle>OnlineShop - About Us</PageTitle>


<h2>About Us</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Libero nunc consequat interdum varius sit amet mattis
    vulputate. Id donec ultrices tincidunt arcu. Diam sollicitudin
    tempor id eu nisl nunc mi. Nibh praesent tristique magna sit
    amet purus gravida quis. Pellentesque dignissim enim sit amet
    venenatis urna cursus. Urna duis convallis convallis tellus id
    interdum velit laoreet id. Ornare quam viverra orci sagittis
    eu volutpat odio facilisis. Arcu felis bibendum ut tristique
    et egestas quis ipsum suspendisse.
    Ac felis donec et odio pellentesque diam volutpat commodo sed.
</p>

<p>
    Leo duis ut diam quam nulla. A diam sollicitudin tempor id eu.
    Nulla aliquet porttitor lacus luctus accumsan tortor posuere.
    Mauris sit amet massa vitae tortor condimentum lacinia quis.
    Gravida rutrum quisque non tellus orci ac. Mollis aliquam ut
    porttitor leo a. Morbi tristique senectus et netus et
    malesuada fames ac. Bibendum ut tristique et egestas quis
    ipsum suspendisse ultrices gravida. Sed egestas egestas
    fringilla phasellus faucibus scelerisque eleifend. Velit
    ut tortor pretium viverra.
</p>

<h4>Contact</h4>
<div class="mb-5">
    <p class="p-0 m-0">Adress: <span class="text-secondary">Street 123, 123 12 Göteborg</span></p>
    <p class="p-0 m-0">Phone: <span class="text-secondary">XXX - XXX XXX</span></p>
    <p class="p-0 m-0">E-mail: <span class="text-secondary">onlineshop@companyexample.com</span></p>
</div>

@code {

}
